/* ===========================
   Tablet
=========================== */

@media (max-width:1024px){

    header{
        width:95%;
    }

    .projects-container,
    .skill-container,
    .certificate-container{
        grid-template-columns:repeat(2,1fr);
    }

    .stats{
        grid-template-columns:repeat(2,1fr);
    }

    .info{
        grid-template-columns:1fr;
    }

}

/* ===========================
   Mobile
=========================== */
.menu-btn{
    display:none;
    width:45px;
    height:45px;
    border:none;
    border-radius:10px;
    background:var(--card);
    color:var(--text);
    cursor:pointer;
    font-size:20px;
}
@media(max-width:768px){

header{

    padding:0 18px;
 direction: rtl;
    height:70px;

}

.logo{

    flex:1;

    text-align:center;

    font-size:22px;

    font-weight:700;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;

}

.menu-btn,
.theme{

    width:30px;
    height:30px;
margin-left:10px;
    border-radius:125px;

    display:flex;
    justify-content:center;
    align-items:center;

    flex-shrink:0;

}

}
    /* Navigation */

  nav{

    display:flex;
    gap:35px;

}

@media(max-width:768px){

nav{

    position:fixed;

    top:70px;
    right:-100%;

    width:260px;
    height:calc(100vh - 70px);

    background:#0f172a;

    display:flex;
    flex-direction:column;

    justify-content:flex-start;
    align-items:center;

    padding-top:40px;

    gap:28px;

    transition:.35s ease;

}

nav.active{

    right:0;

}

}
    /* Buttons */

    .buttons{
        flex-direction:column;
        align-items:center;
    }

    .btn{
        width:90%;
        text-align:center;
    }

    /* Sections */

    section{
        width:92%;
        margin:80px auto;
    }

    .projects-container,
    .skill-container,
    .certificate-container,
    .stats{
        grid-template-columns:1fr;
    }

    .info{
        grid-template-columns:1fr;
    }

    /* Timeline */

    .timeline::before{
        right:15px;
    }

    .timeline-item{
        padding-right:40px;
    }

    .dot{
        right:6px;
    }

    .timeline-content{
        width:100%;
    }

    /* Contact */

    .contact-box{
        width:100%;
    }

    .contact-box input,
    .contact-box textarea{
        width:100%;
    }

    /* Misc */

    .section-title h2{
        font-size:30px;
    }

    .about-card{
        padding:25px;
    }

    .project-content{
        padding:20px;
    }

    .project-buttons{
        flex-direction:column;
    }

    .project-buttons a{
        text-align:center;
    }

    .social{
        display:flex;
        justify-content:center;
        gap:20px;
    }

    .social a{
        margin:0;
    }

}

/* ===========================
   Hide menu button on Desktop
=========================== */

.menu-btn{
    display:none;
}

@media (max-width:768px){

    .menu-btn{
        display:flex;
    }

}